<p>login works!</p>
<div class="loginmain">
  <input type="text" id="username" [(ngModel)]="user.username"><br/>
  <input type="text" id="password"><br />
  <button (click)="loginIn()">Submit</button>
</div>
<div>
   <img [src]="picURL"/>   <!--属性用方括号-->
</div>
<div>
   <ul>
     <li *ngFor="let item of listx ;let key=index">
       <span *ngIf="key==1" class="red">{{key}} ---- {{item.title}} </span>
       <span *ngIf="key!=1">{{key}} ---- {{item.title}} </span>
     </li>
   </ul>
</div>
<div>
  <h1>*ngIF</h1>
  <div *ngIf="flageStatus">

  </div>
</div>
<div>
  <h1> ngSwitch</h1>
  <span [ngSwitch]="swtichStatus">
    <p *ngSwitchCase="1">
      已经支付
    </p>
    <p *ngSwitchCase="2">
      未支付
    </p>
  </span>
</div>
<div [ngClass]="{'blue':flageStatus ,'red':!flageStatus }">  ngClass </div>
<p [ngStyle]="{'color':'red'}"> ngStyle</p>
