#aside {
  width: 200xp;
  height: 100%;
  position: absolute; /* 绝对定位就是不会受到父元素位置影响，相对定位就是会收到父元素的影响*/
  left: 0px;
  top: 58px;
  background: #000;
  color: yellow;
  transform: translate(-100%); /*向右移动100%*/
  transition: all 1s;
}
