<p>todolist works!</p>
<div class="search">
  <input class="form_input" type="text" [(ngModel)]="keywords" (keyup)="doAdd($event)">
  <hr>
  <h3>待办事项</h3>
  <ul>
    <!--<li>列表</li>-->
    <li *ngFor="let item of historylist let key=index" [hidden]="item.status==1">
      <input type="checkbox" [(ngModel)]="item.status" /> {{item.title}}----<button (click)="delHistory(key)"> 删除历时数据据</button>
    </li>
  </ul>
  <h3>已完成事项</h3>
  <ul>
    <!--<li>列表</li>-->
    <li *ngFor="let item of historylist let key=index" [hidden]="item.status==0">
      <input type="checkbox" [(ngModel)]="item.status" /> {{item.title}}----<button (click)="delHistory(key)"> 删除历时数据据</button>
    </li>
  </ul>
</div>
